.group{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.group>div{
    width: 100%;
    display: flex;
}

.label{
    padding-left: 24px;
    font-size: 12pt;
    font-family: 'Comfortaa', sans-serif;
    color: rgb(104, 88, 88);
}

.incorrect{
    padding-left: 20px;
    display: block;
    font-size: 11pt;
    font-family: Cambria, Cochin, Georgia, serif;
    color: rgb(184, 52, 81);
}

.correct{
    display: none;
}

.input{
    width: 100%;
    border: 1px solid rgb(209, 206, 188);
    border-radius: 16px;
    outline: none;
    font-size: 14pt;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 500;
    color: var(--color-name);   
    background-color: rgb(253, 253, 238); 
    padding: 10px 16px;
}