@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600;700&family=Comfortaa:wght@400;700&family=DynaPuff:wght@400;600&family=Montserrat:wght@400;600&family=Asap:wght@400;600;700&family=Varela+Round&display=swap');

:root {
  --color-name: rgb(46, 38, 38);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-button {
  border: none;
  outline: none;
  border-radius: 16px;
  background-color: rgb(204, 119, 125);
  box-shadow: 0 0 5px 3px rgb(192, 109, 114) inset;
  color: antiquewhite;
}

.main-button:hover {
  box-shadow: 0 0 5px 3px rgb(199, 107, 113) inset;
  background-color: rgb(218, 127, 133);
}

.main-button:active {
  box-shadow: 0 0 5px 3px rgb(173, 79, 85) inset;
  background-color: rgb(207, 126, 131);
}

 @media screen and (max-width:960px) {
  .main-button{
    border-radius: 12px;
  }
 }